{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        {% block datatable %}
        {% endblock %}

        {% if tasks.isEmpty() %}
            {% include 'blocks/alert.twig' with {'result': emptyTasks} %}
        {% else %}
            {% include 'tasks/table.twig' with {'tasks': tasks, 'pagination': pagination, 'sortData': sortData} %}
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <a href="/add" class="btn btn-primary">Add task</a>
            </div>
        </div>
    </div>
{% endblock %}