<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>User name:</th>
                        <td>{{ task.getName()|default('empty') }}</td>
                    </tr>

                    <tr>
                        <th>Email:</th>
                        <td>{{ task.getEmail()|default('empty') }}</td>
                    </tr>

                    <tr>
                        <th>Text:</th>
                        <td>{{ task.getText()|default('empty') }}</td>
                    </tr>

                    {% if task.getImage().exists() %}
                        <tr>
                            <th>Image:</th>
                            <td><img src="{{ task.getImage().getUrl() }}" class="img-responsive" alt="Image"></td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Completed:</th>
                        <td>{% if task.isCompleted %}yes{% else %}no{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mt-10">
    <div class="col-md-6">
        <a id="button-task-form" class="btn btn-info">Go to add a task</a>
    </div>
</div>