{% if breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    {% set active = breadcrumbs|last %}
                    {% set breadcrumbs = breadcrumbs|slice(0, -1) %}

                    {% for item in breadcrumbs %}
                        <li>
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}

                    {% if active %}
                        <li class="active">
                            {{ active.title }}
                        </li>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
{% endif %}